<a href="https://colab.research.google.com/github/Legendkiller9855/GENRATIVE_AI/blob/main/Deep_Dive_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World !")

Hello World !

**PYTHON IS A CASE-SENSITIVE LANGUAGE.**

**VARIABLES - Variables are containers used to store data values in a program (like numbers, text, etc.). Variables are also case-sensitive and a variable name must always start from a aplhabet or underscore itself.**

In [ ]:
name = input("What is your name ? ")
print(name)
#name is variable here
#input() is used to take a value as input from the user.
#print() is used to print a value or variable when required.

What is your name ? krishan
krishan

**Values of a Variables can be changed after it has been created.**

In [ ]:
name = "Krishan"
print(name)
name = "Akshat"
print(name)

Krishan
Akshat

**DATA TYPES - In Python, data types tell what kind of value a variable is storing.**

In [ ]:
age = 21
print(type(age))
#type() function is used to return the data type of a variable.

<class 'int'>

**CONVERSION OF DATA TYPES**

✅ Data Type Conversion (Type Casting) in Python

Data type conversion means changing one data type into another data type.

1) int()

Converts a value into an integer.

2) float()

Converts a value into a float (decimal).

3) str()

Converts a value into a string.

4) bool()

Converts a value into True or False.

5) list()

Converts a sequence into a list.

6) tuple()

Converts a sequence into a tuple.

7) set()

Converts a sequence into a set (removes duplicates).

8) dict()

Converts key-value pairs into a dictionary.

In [ ]:
a = 100
b = 3.0
print(float(a))
print(int(b))

100.0
3

**In Python, data types are mainly of 2 types:**

**✅ 1) Primitive (Basic) Data Types**

**int**

**float**

**str**

**bool**

**✅ 2) Non-Primitive (Collection) Data Types**

**list**

**tuple**

**set**

**dict**

**OPERATORS - Operators are symbols used to perform operations on values and variables.**

**✅ 1) Arithmetic Operators (Math operations)**

**+ → Adds two values**

**- → Subtracts one value from another**

(*) → Multiplies two values

**/ → Divides and gives result in decimal**

**% → Gives remainder after division**

**// → Floor division (removes decimal part)**

** → Power (exponent)

**✅ 2) Assignment Operators (Assign values)**

**= → Assigns value to a variable**

**+= → Adds and assigns (x += 2 means x = x + 2)**

**-= → Subtracts and assigns**

*= → Multiplies and assigns

**/= → Divides and assigns**

**%= → Modulus and assigns**

**//= → Floor divides and assigns**

**= → Power and assigns

**✅ 3) Comparison / Relational Operators (Compare values)**

**== → Checks if both values are equal**

**!= → Checks if values are not equal**

**> → Checks if left value is greater**

**< → Checks if left value is smaller**

**>= → Checks if left value is greater or equal**

**<= → Checks if left value is smaller or equal**

**✅ 4) Logical Operators (Work on True/False)**

**and → True if both conditions are True**

**or → True if at least one condition is True**

**not → Reverses the result (True becomes False)**

**✅ 5) Bitwise Operators (Work on binary bits)**

**& → Bitwise AND**

**| → Bitwise OR**

**^ → Bitwise XOR**

**~ → Bitwise NOT (inverts bits)**

**<< → Left shift bits**

**>> → Right shift bits**

**✅ 6) Membership Operators (Check presence)**

**in → True if value exists in sequence**

**not in → True if value does NOT exist in sequence**

**✅ 7) Identity Operators (Check same object in memory)**

**is → True if both variables point to same object**

**is not → True if both variables do NOT point to same object**

2.5

**LIST - In Python, a list is a mutable (changeable) ordered collection of items stored in a single variable.**

**Example of LIST - lists = ["Amit" , 1 ,2 , 3, "Krishan"]**

**LIST INDEXING - Any value in a list can be called using the list indexing method.**

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[5])

3

**LIST SLICING : List slicing in Python means extracting a part (sub-list) from a list using indexes.**

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[1:4]) #Values will be included from index value 1 to 3.4 is not included.

['Amit', 'Akshat', 1]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[:]) #Used to print the whole list.

['Krishan', 'Amit', 'Akshat', 1, 2, 3]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[::-1]) #Used to print the whole list but in reverse order.

[3, 2, 1, 'Akshat', 'Amit', 'Krishan']

**Changing values in a list**

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
lists[2] = "Akshat Grover"
print(lists)

['Krishan', 'Amit', 'Akshat Grover', 1, 2, 3]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[0:6]) #To print the whole list by slicing method

['Krishan', 'Amit', 'Akshat', 1, 2, 3]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[0:6:2]) #To print items in a list after some certian gaps.

['Krishan', 'Akshat', 2]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[::-2]) #To print items in reverse order with some certain gaps in between them.

[3, 1, 'Amit']

**✅ Python List Methods (With Types)**
**1) Adding / Inserting Elements**

append() → Adds one element at the end of the list

extend() → Adds multiple elements at the end of the list

insert() → Inserts an element at a specific index

**2) Removing Elements**

remove() → Removes the first matching element from the list

pop() → Removes and returns an element (by index, default last)

clear() → Removes all elements from the list

**3) Searching / Checking**

index() → Returns the index of the first matching element

count() → Returns how many times an element appears in the list

**4) Sorting / Reversing**

sort() → Sorts the list in ascending order (default)

reverse() → Reverses the list order

**5) Copying**

copy() → Creates and returns a shallow copy of the list

In [ ]:
lists = [1,2,3,4,5,6,7,8,9,10,11,12,13]
print(lists)

lists.append(99) #Used to add element at the end of the list.
print(lists)

list1 = [100 , 101 , 102]
lists.extend(list1) #Used to add a whole list in an existing list.
#The added values will be added at the end of the pre-existing list.The list in bracket is added at the end of the other list.
print(lists)

lists.insert(3,789) #Used to add a certain value at a certain index. Format : (index , value to be added)
print(lists)

lists.remove(100) #Used to remove a specific value from the list.Only the first occurence of that list will be removed.
print(lists)

lists.pop(0) #Used to remove a certain value from a specified index value.
print(lists)

lists.index(789) #Used to return the first index value of a certain value
print(lists)

lists.count(3) #Used to return how many times a number has appeared in a list.
print(lists.count(3))

lists.sort() #Used to sort data in ascending form(Default).
sorted_list = lists.sort()
print(sorted_list)

lists.reverse() #Used to reverse a whole list
print(lists)

lists2 = [10,20,30,40]
lists3 = lists2.copy() #Used to copy a whole list.
print(lists3)

lists.clear() #Used to remove all elements from the list.
print(lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 100, 101, 102]
[1, 2, 3, 789, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 100, 101, 102]
[1, 2, 3, 789, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 101, 102]
[2, 3, 789, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 101, 102]
[2, 3, 789, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 101, 102]
1
None
[789, 102, 101, 99, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]
[10, 20, 30, 40]
[]

**ENUMERATE - enumerate() in Python is used to get index + value together while looping.**

In [ ]:
name = [11,10,9,8,7,6,5,4,3,2,1]
for index_value,value in enumerate(name):
  print(index_value,value)

# Line 1

# name = [11,10,9,8,7,6,5,4,3,2,1]
# This line creates a list named name which contains numbers from 11 down to 1.

# Line 2

# for index_value, value in enumerate(name):
# This line starts a for loop using enumerate().

# enumerate(name) gives two values for each item in the list:

# index_value → the index number (0, 1, 2, …)

# value → the actual value from the list (11, 10, 9, …)

# So in every loop, Python stores:

# the index in index_value

# the list element in value

# Line 3

# print(index_value, value)
# This line prints the index and the value for each element in the list.

# ✅ Final Output Meaning

# It prints each number along with its position (index) in the list.

0 11
1 10
2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2
10 1

**len()- Length function is used to find the number of value inside a list.**

In [ ]:
lists = [1,2,3,4,5,6,7,8,9]
print(len(lists))

9

**More Built-in functions of lists.**

In [32]:
lists = [0,1,2,3,4,5,6,7,8,9,10]
print(sum(lists)) #Used to get sum of the whole list.

print(max(lists)) #Used to get the maximum value in the whole of the list

print(min(lists)) #Used to get the minimum value in the whole of the list.

55
10
0

In [ ]:
list1 =[1,2,3]
list2 =[4,5,6]
paired_list =[(i,j) for i in list1 for j in list2]
print(paired_list)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

**TUPLES - Tuple is an ordered collection of items that is immutable (cannot be changed).**

In [ ]:
tuples = (1,2,3,4,5,6)
print(tuples)
print(type(tuples))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

**Tuples are like list only which can store the data inside in a ordered way but are immutable in nature.Ordered way doesn't mean ascending or descending , it basically refers the ordered of data or values will remain constant or unaltered lifetime.**

**Tuples also follow indexing and slicing as of like Lists.**

In [ ]:
tuples = (0,1,2,3,4,5,6,7,8,9,10)
print(tuples[:])
print(tuples[1:3])
print(tuples[1])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2)
1

**TUPLES - Tuples only have 2 built-in functions.**

**Built-in Functions in Tuples are:**

*   index()
*   count()

In [ ]:
tuples = (0,1,2,3,4,5,6,7,8,9,10,4,5,6,7,7,8,7,7,7,7,7)
print(tuples.count(7)) #Used to return how many times an elemnt has appeared in a tuple.
print(tuples.index(3)) #Used to return the first index value of a certain value

8
3

**PACKING OF TUPLES - Whenever we store multiple values in a variable , it gets converted into a tuple.**

In [ ]:
a = 1,2,3,4,5,6,7,8,9,10
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

**UNPACKING OF TUPLES - Tuple unpacking means assigning tuple values into multiple variables in one line.**

In [ ]:
tuples = (0,1,2,3)
a,b,c,d = tuples
print(a)
print(b)
print(c)
print(d)

0
1
2
3

**(*) star operator with variable will take all the remaining values from the tuple in itself.**

In [ ]:
first_value,*mid_value,last_value = (1,2,3,4,5,6,7,8,9,10)
print(first_value)
print(mid_value) # *variable in unpacking tuple takes up all the remaining elements or values of a tuple.
print(last_value)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

**NESTED LIST - A nested list is a list inside another list.**

In [ ]:
lists = [[1,2,3],[4,5,6],[0,1,2,3,4,5],[7,8,9]]
print(lists[1][2]) # Indexing in Nested list is done this way.
#First index is of the primary list and the secondary index is of secondary list and so on.

6

**Slicing can also be done in nested list.**

In [ ]:
lists = [[1,2,3],[4,5,6],[0,1,2,3,4,5],[7,8,9]]
print(lists[3][:])
print(lists[2][1:5])

[7, 8, 9]
[1, 2, 3, 4]

**TUPLE can also be present inside a nested list.**

In [ ]:
Tuple_list = [1,2,3,[1,2,3,4],(5,6,7,8,9,0)]
print(Tuple_list[4][:])

(5, 6, 7, 8, 9, 0)

**NESTED TUPLE - Nested tuple can also be created like the nested list.**

In [ ]:
Nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
for i in Nested_tuple:
  for j in i :
    print(j , sep = "")
  print(" ")

#   Line 1

# Nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
# This creates a nested tuple (tuple inside a tuple).
# It contains 3 tuples, and each tuple has 3 numbers.

# Line 2

# for i in Nested_tuple:
# This starts the outer loop.
# Here, i will take one tuple at a time:

# First: (1,2,3)

# Second: (4,5,6)

# Third: (7,8,9)

# Line 3

# for j in i:
# This starts the inner loop.
# Here, j will take one number at a time from the tuple i.

# Example:
# If i = (1,2,3) then j will become:

# 1

# 2

# 3

# Line 4

# print(j , sep = "")
# This prints each number j.

# ⚠️ Note: sep="" has no effect here because you are printing only one value at a time.

# Line 5

# print(" ")
# This prints a blank line (space) after finishing one inner tuple.
# So after printing 1 2 3, it goes to the next line before printing 4 5 6.

1
2
3

4
5
6

7
8
9

**OPERATIONS ON TUPLE:**

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8)
tuple_2 = (3,4,5,6,7,8,9,10)
print(tuple_1 + tuple_2) #Add will simply do union of both the tuples in a single one.

(1, 2, 3, 4, 5, 6, 7, 8, 3, 4, 5, 6, 7, 8, 9, 10)

**MULTIPLICATION OF TUPLE**

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8)
print(tuple_1 *3) #Multiply will simply repeat the tuple the number of time mentioned.

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

**DICTIONARY - A dictionary in Python is a data structure that stores data in key : value pairs.**

**SYNTAX FOR DICTIONARY IS :**

**DICTIONARY = { key1:value1,    
                                            key2:value2,
                                                                     key3,value3}**

**NO-SQL Databases / MongoDB Databases both store data in form of key-value pairs , same as like that of Dictionary.**

In [2]:
dictionary = { "Name" : "Krishan",
               "Email" : "krishan718@gmail.com",
               "Phone-Number" : 91333

}
print(dictionary)
print(type(dictionary))

{'Name': 'Krishan', 'Email': 'krishan718@gmail.com', 'Phone-Number': 91333}

**Lists can also be used a value in a dictionary.Lists cannot be used as keys as keys are immutable but lists are.So,we can keep tuples as both keys and value in a list.**

In [ ]:
dictionary = { "Name" : ["Krishan","Amit","Akshat"],
               "Email" : ["krishan718@gmail.com","amit234@gmail.com","akshat456@gmail.com"],
               "Phone-Number" : [123,345,567]
}
print(dictionary)
print(type(dictionary))

**DICTIONARIES are ordered but not indexed i.e. we cannot index the values , we have to call the values with the help of key itself.**

**DICTIONARIES ARE MUTABLE.**

In [4]:
dictionary = { "Name" : ["Krishan","Amit","Akshat"],
               "Email" : ["krishan718@gmail.com","amit234@gmail.com","akshat456@gmail.com"],
               "Phone-Number" : [123,345,567]
}
print(dictionary["Name"]) #Used to call values in a dictionary using the particular key itself.

['Krishan', 'Amit', 'Akshat']

In [5]:
dictionary = { "Name" : "Krishan" ,
               "Name" : "Akshat",
               "Name" : "Manan",
               "Name" : "Gurrajan"
               }
print(dictionary["Name"])
#If a dictionary has multiple keys of same name , than the final key will get printed when called.

Gurrajan

**del() - Delete function is used to delete a certain value in a dictionary.**

In [7]:
dictionary = { "Name" : "akshat" ,
               "Phone number" : 1234567890 ,
               "Sex" : "Male"
}
print(dictionary)
del dictionary["Sex"] #Used to remove a certin value in dictionary.
print(dictionary)

{'Name': 'akshat', 'Phone number': 1234567890, 'Sex': 'Male'}
{'Name': 'akshat', 'Phone number': 1234567890}

**DICTIONARY METHODS :**

In [17]:
dictionary = { "Name" : "akshat" ,
               "Phone number" : 1234567890 ,
               "Sex" : "Male",
               "List_items" : [1,2,3,4,5,6,7,8,9,10],
               "float" : 3.989
}
print(dictionary)

print(dictionary.keys()) #Used to print all the keys name present inside a dictionary.

print(dictionary.values()) #Used to print all the values present inside a dictionary.

print(dictionary.items()) #Used to print all the key value pairs present inside a dictionary.

print(dictionary.get("List_items")) #Used to safely get a value from a dictionary using a key without causing an error if the key doesn’t exist.

{'Name': 'akshat', 'Phone number': 1234567890, 'Sex': 'Male', 'List_items': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'float': 3.989}




dict_keys(['Name', 'Phone number', 'Sex', 'List_items', 'float'])
dict_values(['akshat', 1234567890, 'Male', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 3.989])
dict_items([('Name', 'akshat'), ('Phone number', 1234567890), ('Sex', 'Male'), ('List_items', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), ('float', 3.989)])
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**SHALLOW COPY - Shallow copy is being used for creating a copy of the original dictionary in a way such that the changes we are going to make with original dictionary wont be reflected in the copied dictionary and shallow copy is created by using copy() function.**

In [19]:
dictionary_1 = {"Name" : "Krishan" ,
                "Age" : 21,
                "Gender" : "Male"
                }

dictionary_2 = dictionary_1 #This is normal copying.
#Any change in primary dictionary will also reflect in the copied dictionary.
print(dictionary_2)
dictionary_1["Name"] = "Akshat"
print(dictionary_2)

{'Name': 'Krishan', 'Age': 21, 'Gender': 'Male'}
{'Name': 'Akshat', 'Age': 21, 'Gender': 'Male'}

**NESTED DICTIONARY - A nested dictionary is a dictionary that contains another dictionary as a value.**

In [25]:
nested_dictionary = {"Student_1":{"Name":"Amit","Marks":84,"Grade":"A"},
                     "Student_2":{"Name":"Krishan","Marks":78,"Grade":"B"}
                     }
print(nested_dictionary)

for item in nested_dictionary:
  for outer_key , outer_value in nested_dictionary.items():
    print(f"Outer key is : {outer_key} and Outer value is : {outer_value}")
    for key_1,value_1 in outer_value.items():
      print(f"Inner key is : {key_1} and Inner value is : {value_1}")

{'Student_1': {'Name': 'Amit', 'Marks': 84, 'Grade': 'A'}, 'Student_2': {'Name': 'Krishan', 'Marks': 78, 'Grade': 'B'}}
Outer key is : Student_1 and Outer value is : {'Name': 'Amit', 'Marks': 84, 'Grade': 'A'}
Inner key is : Name and Inner value is : Amit
Inner key is : Marks and Inner value is : 84
Inner key is : Grade and Inner value is : A
Outer key is : Student_2 and Outer value is : {'Name': 'Krishan', 'Marks': 78, 'Grade': 'B'}
Inner key is : Name and Inner value is : Krishan
Inner key is : Marks and Inner value is : 78
Inner key is : Grade and Inner value is : B
Outer key is : Student_1 and Outer value is : {'Name': 'Amit', 'Marks': 84, 'Grade': 'A'}
Inner key is : Name and Inner value is : Amit
Inner key is : Marks and Inner value is : 84
Inner key is : Grade and Inner value is : A
Outer key is : Student_2 and Outer value is : {'Name': 'Krishan', 'Marks': 78, 'Grade': 'B'}
Inner key is : Name and Inner value is : Krishan
Inner key is : Marks and Inner value is : 78
Inner key is : Grade and Inner value is : B

**DICTIONARY COMPREHENSION - Dictionary comprehension is a short way to create a dictionary in one line using a loop.**

In [26]:
comprehensive_dictionary  = {x:x**2 for x in range(11)}
print(comprehensive_dictionary)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
even_dictionary = {x:x**2 for x in range(1,11) if x %2==0}
print(even_dictionary)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

**MERGED DICTIONARY - A merged dictionary means combining two or more dictionaries into one.If keys repeat, the later dictionary overwrites the earlier one.**

In [28]:
dict_1 = {"a":1,"b":2,"c":3,"d":4}
dict_2 = {"a":1,"b":5,"c":4,"d":9}
merged_dictionary = {**dict_1,**dict_2} #Used to merge two dictionaries.The unique keys get added and the same keys get the value of latest dictionary overwritten on the other.
print(merged_dictionary)

{'a': 1, 'b': 5, 'c': 4, 'd': 9}