<a href="https://colab.research.google.com/github/Legendkiller9855/GENRATIVE_AI/blob/main/Deep_Dive_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World !")

Hello World !

**PYTHON IS A CASE-SENSITIVE LANGUAGE.**

**VARIABLES - Variables are containers used to store data values in a program (like numbers, text, etc.). Variables are also case-sensitive and a variable name must always start from a aplhabet or underscore itself.**

In [ ]:
name = input("What is your name ? ")
print(name)
#name is variable here
#input() is used to take a value as input from the user.
#print() is used to print a value or variable when required.

What is your name ? krishan
krishan

**Values of a Variables can be changed after it has been created.**

In [ ]:
name = "Krishan"
print(name)
name = "Akshat"
print(name)

Krishan
Akshat

**DATA TYPES - In Python, data types tell what kind of value a variable is storing.**

In [ ]:
age = 21
print(type(age))
#type() function is used to return the data type of a variable.

<class 'int'>

**CONVERSION OF DATA TYPES**

✅ Data Type Conversion (Type Casting) in Python

Data type conversion means changing one data type into another data type.

1) int()

Converts a value into an integer.

2) float()

Converts a value into a float (decimal).

3) str()

Converts a value into a string.

4) bool()

Converts a value into True or False.

5) list()

Converts a sequence into a list.

6) tuple()

Converts a sequence into a tuple.

7) set()

Converts a sequence into a set (removes duplicates).

8) dict()

Converts key-value pairs into a dictionary.

In [ ]:
a = 100
b = 3.0
print(float(a))
print(int(b))

100.0
3

**In Python, data types are mainly of 2 types:**

**✅ 1) Primitive (Basic) Data Types**

**int**

**float**

**str**

**bool**

**✅ 2) Non-Primitive (Collection) Data Types**

**list**

**tuple**

**set**

**dict**

**OPERATORS - Operators are symbols used to perform operations on values and variables.**

**✅ 1) Arithmetic Operators (Math operations)**

**+ → Adds two values**

**- → Subtracts one value from another**

(*) → Multiplies two values

**/ → Divides and gives result in decimal**

**% → Gives remainder after division**

**// → Floor division (removes decimal part)**

** → Power (exponent)

**✅ 2) Assignment Operators (Assign values)**

**= → Assigns value to a variable**

**+= → Adds and assigns (x += 2 means x = x + 2)**

**-= → Subtracts and assigns**

*= → Multiplies and assigns

**/= → Divides and assigns**

**%= → Modulus and assigns**

**//= → Floor divides and assigns**

**= → Power and assigns

**✅ 3) Comparison / Relational Operators (Compare values)**

**== → Checks if both values are equal**

**!= → Checks if values are not equal**

**> → Checks if left value is greater**

**< → Checks if left value is smaller**

**>= → Checks if left value is greater or equal**

**<= → Checks if left value is smaller or equal**

**✅ 4) Logical Operators (Work on True/False)**

**and → True if both conditions are True**

**or → True if at least one condition is True**

**not → Reverses the result (True becomes False)**

**✅ 5) Bitwise Operators (Work on binary bits)**

**& → Bitwise AND**

**| → Bitwise OR**

**^ → Bitwise XOR**

**~ → Bitwise NOT (inverts bits)**

**<< → Left shift bits**

**>> → Right shift bits**

**✅ 6) Membership Operators (Check presence)**

**in → True if value exists in sequence**

**not in → True if value does NOT exist in sequence**

**✅ 7) Identity Operators (Check same object in memory)**

**is → True if both variables point to same object**

**is not → True if both variables do NOT point to same object**

**Python has these main data structures:**

* List (ordered, mutable)
   
* Tuple (ordered, immutable)

* Set (unordered, unique values)

* Dictionary (key-value pairs)

**LIST - In Python, a list is a mutable (changeable) ordered collection of items stored in a single variable.**

**Example of LIST - lists = ["Amit" , 1 ,2 , 3, "Krishan"]**

**LIST INDEXING - Any value in a list can be called using the list indexing method.**

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[5])

3

**LIST SLICING : List slicing in Python means extracting a part (sub-list) from a list using indexes.**

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[1:4]) #Values will be included from index value 1 to 3.4 is not included.

['Amit', 'Akshat', 1]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[:]) #Used to print the whole list.

['Krishan', 'Amit', 'Akshat', 1, 2, 3]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[::-1]) #Used to print the whole list but in reverse order.

[3, 2, 1, 'Akshat', 'Amit', 'Krishan']

**Changing values in a list**

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
lists[2] = "Akshat Grover"
print(lists)

['Krishan', 'Amit', 'Akshat Grover', 1, 2, 3]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[0:6]) #To print the whole list by slicing method

['Krishan', 'Amit', 'Akshat', 1, 2, 3]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[0:6:2]) #To print items in a list after some certian gaps.

['Krishan', 'Akshat', 2]

In [ ]:
lists = ["Krishan" , "Amit" , "Akshat" , 1 , 2 , 3]
print(lists[::-2]) #To print items in reverse order with some certain gaps in between them.

[3, 1, 'Amit']

**✅ Python List Methods (With Types)**
**1) Adding / Inserting Elements**

append() → Adds one element at the end of the list

extend() → Adds multiple elements at the end of the list

insert() → Inserts an element at a specific index

**2) Removing Elements**

remove() → Removes the first matching element from the list

pop() → Removes and returns an element (by index, default last)

clear() → Removes all elements from the list

**3) Searching / Checking**

index() → Returns the index of the first matching element

count() → Returns how many times an element appears in the list

**4) Sorting / Reversing**

sort() → Sorts the list in ascending order (default)

reverse() → Reverses the list order

**5) Copying**

copy() → Creates and returns a shallow copy of the list

In [ ]:
lists = [1,2,3,4,5,6,7,8,9,10,11,12,13]
print(lists)

lists.append(99) #Used to add element at the end of the list.
print(lists)

list1 = [100 , 101 , 102]
lists.extend(list1) #Used to add a whole list in an existing list.
#The added values will be added at the end of the pre-existing list.The list in bracket is added at the end of the other list.
print(lists)

lists.insert(3,789) #Used to add a certain value at a certain index. Format : (index , value to be added)
print(lists)

lists.remove(100) #Used to remove a specific value from the list.Only the first occurence of that list will be removed.
print(lists)

lists.pop(0) #Used to remove a certain value from a specified index value.
print(lists)

lists.index(789) #Used to return the first index value of a certain value
print(lists)

lists.count(3) #Used to return how many times a number has appeared in a list.
print(lists.count(3))

lists.sort() #Used to sort data in ascending form(Default).
sorted_list = lists.sort()
print(sorted_list)

lists.reverse() #Used to reverse a whole list
print(lists)

lists2 = [10,20,30,40]
lists3 = lists2.copy() #Used to copy a whole list.
print(lists3)

lists.clear() #Used to remove all elements from the list.
print(lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 100, 101, 102]
[1, 2, 3, 789, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 100, 101, 102]
[1, 2, 3, 789, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 101, 102]
[2, 3, 789, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 101, 102]
[2, 3, 789, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99, 101, 102]
1
None
[789, 102, 101, 99, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]
[10, 20, 30, 40]
[]

**ENUMERATE - enumerate() in Python is used to get index + value together while looping.**

In [ ]:
name = [11,10,9,8,7,6,5,4,3,2,1]
for index_value,value in enumerate(name):
  print(index_value,value)

# Line 1

# name = [11,10,9,8,7,6,5,4,3,2,1]
# This line creates a list named name which contains numbers from 11 down to 1.

# Line 2

# for index_value, value in enumerate(name):
# This line starts a for loop using enumerate().

# enumerate(name) gives two values for each item in the list:

# index_value → the index number (0, 1, 2, …)

# value → the actual value from the list (11, 10, 9, …)

# So in every loop, Python stores:

# the index in index_value

# the list element in value

# Line 3

# print(index_value, value)
# This line prints the index and the value for each element in the list.

# ✅ Final Output Meaning

# It prints each number along with its position (index) in the list.

0 11
1 10
2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2
10 1

**len()- Length function is used to find the number of value inside a list.**

In [ ]:
lists = [1,2,3,4,5,6,7,8,9]
print(len(lists))

9

**More Built-in functions of lists.**

In [ ]:
lists = [0,1,2,3,4,5,6,7,8,9,10]
print(sum(lists)) #Used to get sum of the whole list.

print(max(lists)) #Used to get the maximum value in the whole of the list

print(min(lists)) #Used to get the minimum value in the whole of the list.

55
10
0

In [ ]:
list1 =[1,2,3]
list2 =[4,5,6]
paired_list =[(i,j) for i in list1 for j in list2]
print(paired_list)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

**TUPLES - Tuple is an ordered collection of items that is immutable (cannot be changed).**

In [ ]:
tuples = (1,2,3,4,5,6)
print(tuples)
print(type(tuples))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

**Tuples are like list only which can store the data inside in a ordered way but are immutable in nature.Ordered way doesn't mean ascending or descending , it basically refers the ordered of data or values will remain constant or unaltered lifetime.**

**Tuples also follow indexing and slicing as of like Lists.**

In [ ]:
tuples = (0,1,2,3,4,5,6,7,8,9,10)
print(tuples[:])
print(tuples[1:3])
print(tuples[1])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2)
1

**TUPLES - Tuples only have 2 built-in functions.**

**Built-in Functions in Tuples are:**

*   index()
*   count()

In [ ]:
tuples = (0,1,2,3,4,5,6,7,8,9,10,4,5,6,7,7,8,7,7,7,7,7)
print(tuples.count(7)) #Used to return how many times an elemnt has appeared in a tuple.
print(tuples.index(3)) #Used to return the first index value of a certain value

8
3

**PACKING OF TUPLES - Whenever we store multiple values in a variable , it gets converted into a tuple.**

In [ ]:
a = 1,2,3,4,5,6,7,8,9,10
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

**UNPACKING OF TUPLES - Tuple unpacking means assigning tuple values into multiple variables in one line.**

In [ ]:
tuples = (0,1,2,3)
a,b,c,d = tuples
print(a)
print(b)
print(c)
print(d)

0
1
2
3

**(*) star operator with variable will take all the remaining values from the tuple in itself.**

In [ ]:
first_value,*mid_value,last_value = (1,2,3,4,5,6,7,8,9,10)
print(first_value)
print(mid_value) # *variable in unpacking tuple takes up all the remaining elements or values of a tuple.
print(last_value)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

**NESTED LIST - A nested list is a list inside another list.**

In [ ]:
lists = [[1,2,3],[4,5,6],[0,1,2,3,4,5],[7,8,9]]
print(lists[1][2]) # Indexing in Nested list is done this way.
#First index is of the primary list and the secondary index is of secondary list and so on.

6

**Slicing can also be done in nested list.**

In [ ]:
lists = [[1,2,3],[4,5,6],[0,1,2,3,4,5],[7,8,9]]
print(lists[3][:])
print(lists[2][1:5])

[7, 8, 9]
[1, 2, 3, 4]

**TUPLE can also be present inside a nested list.**

In [ ]:
Tuple_list = [1,2,3,[1,2,3,4],(5,6,7,8,9,0)]
print(Tuple_list[4][:])

(5, 6, 7, 8, 9, 0)

**NESTED TUPLE - Nested tuple can also be created like the nested list.**

In [ ]:
Nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
for i in Nested_tuple:
  for j in i :
    print(j , sep = "")
  print(" ")

#   Line 1

# Nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
# This creates a nested tuple (tuple inside a tuple).
# It contains 3 tuples, and each tuple has 3 numbers.

# Line 2

# for i in Nested_tuple:
# This starts the outer loop.
# Here, i will take one tuple at a time:

# First: (1,2,3)

# Second: (4,5,6)

# Third: (7,8,9)

# Line 3

# for j in i:
# This starts the inner loop.
# Here, j will take one number at a time from the tuple i.

# Example:
# If i = (1,2,3) then j will become:

# 1

# 2

# 3

# Line 4

# print(j , sep = "")
# This prints each number j.

# ⚠️ Note: sep="" has no effect here because you are printing only one value at a time.

# Line 5

# print(" ")
# This prints a blank line (space) after finishing one inner tuple.
# So after printing 1 2 3, it goes to the next line before printing 4 5 6.

1
2
3

4
5
6

7
8
9

**OPERATIONS ON TUPLE:**

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8)
tuple_2 = (3,4,5,6,7,8,9,10)
print(tuple_1 + tuple_2) #Add will simply do union of both the tuples in a single one.

(1, 2, 3, 4, 5, 6, 7, 8, 3, 4, 5, 6, 7, 8, 9, 10)

**MULTIPLICATION OF TUPLE**

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8)
print(tuple_1 *3) #Multiply will simply repeat the tuple the number of time mentioned.

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

**DICTIONARY - A dictionary in Python is a data structure that stores data in key : value pairs.**

**SYNTAX FOR DICTIONARY IS :**

**DICTIONARY = { key1:value1,    
                                            key2:value2,
                                                                     key3,value3}**

**NO-SQL Databases / MongoDB Databases both store data in form of key-value pairs , same as like that of Dictionary.**

In [ ]:
dictionary = { "Name" : "Krishan",
               "Email" : "krishan718@gmail.com",
               "Phone-Number" : 91333

}
print(dictionary)
print(type(dictionary))

{'Name': 'Krishan', 'Email': 'krishan718@gmail.com', 'Phone-Number': 91333}

**Lists can also be used a value in a dictionary.Lists cannot be used as keys as keys are immutable but lists are.So,we can keep tuples as both keys and value in a list.**

In [ ]:
dictionary = { "Name" : ["Krishan","Amit","Akshat"],
               "Email" : ["krishan718@gmail.com","amit234@gmail.com","akshat456@gmail.com"],
               "Phone-Number" : [123,345,567]
}
print(dictionary)
print(type(dictionary))

**DICTIONARIES are ordered but not indexed i.e. we cannot index the values , we have to call the values with the help of key itself.**

**DICTIONARIES ARE MUTABLE.**

In [ ]:
dictionary = { "Name" : ["Krishan","Amit","Akshat"],
               "Email" : ["krishan718@gmail.com","amit234@gmail.com","akshat456@gmail.com"],
               "Phone-Number" : [123,345,567]
}
print(dictionary["Name"]) #Used to call values in a dictionary using the particular key itself.

['Krishan', 'Amit', 'Akshat']

In [ ]:
dictionary = { "Name" : "Krishan" ,
               "Name" : "Akshat",
               "Name" : "Manan",
               "Name" : "Gurrajan"
               }
print(dictionary["Name"])
#If a dictionary has multiple keys of same name , than the final key will get printed when called.

Gurrajan

**del() - Delete function is used to delete a certain value in a dictionary.**

In [ ]:
dictionary = { "Name" : "akshat" ,
               "Phone number" : 1234567890 ,
               "Sex" : "Male"
}
print(dictionary)
del dictionary["Sex"] #Used to remove a certin value in dictionary.
print(dictionary)

{'Name': 'akshat', 'Phone number': 1234567890, 'Sex': 'Male'}
{'Name': 'akshat', 'Phone number': 1234567890}

**DICTIONARY METHODS :**

In [ ]:
dictionary = { "Name" : "akshat" ,
               "Phone number" : 1234567890 ,
               "Sex" : "Male",
               "List_items" : [1,2,3,4,5,6,7,8,9,10],
               "float" : 3.989
}
print(dictionary)

print(dictionary.keys()) #Used to print all the keys name present inside a dictionary.

print(dictionary.values()) #Used to print all the values present inside a dictionary.

print(dictionary.items()) #Used to print all the key value pairs present inside a dictionary.

print(dictionary.get("List_items")) #Used to safely get a value from a dictionary using a key without causing an error if the key doesn’t exist.

{'Name': 'akshat', 'Phone number': 1234567890, 'Sex': 'Male', 'List_items': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'float': 3.989}




dict_keys(['Name', 'Phone number', 'Sex', 'List_items', 'float'])
dict_values(['akshat', 1234567890, 'Male', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 3.989])
dict_items([('Name', 'akshat'), ('Phone number', 1234567890), ('Sex', 'Male'), ('List_items', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), ('float', 3.989)])
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**SHALLOW COPY - Shallow copy is being used for creating a copy of the original dictionary in a way such that the changes we are going to make with original dictionary wont be reflected in the copied dictionary and shallow copy is created by using copy() function.**

In [ ]:
dictionary_1 = {"Name" : "Krishan" ,
                "Age" : 21,
                "Gender" : "Male"
                }

dictionary_2 = dictionary_1 #This is normal copying.
#Any change in primary dictionary will also reflect in the copied dictionary.
print(dictionary_2)
dictionary_1["Name"] = "Akshat"
print(dictionary_2)

{'Name': 'Krishan', 'Age': 21, 'Gender': 'Male'}
{'Name': 'Akshat', 'Age': 21, 'Gender': 'Male'}

**NESTED DICTIONARY - A nested dictionary is a dictionary that contains another dictionary as a value.**

In [ ]:
nested_dictionary = {"Student_1":{"Name":"Amit","Marks":84,"Grade":"A"},
                     "Student_2":{"Name":"Krishan","Marks":78,"Grade":"B"}
                     }
print(nested_dictionary)

for item in nested_dictionary:
  for outer_key , outer_value in nested_dictionary.items():
    print(f"Outer key is : {outer_key} and Outer value is : {outer_value}")
    for key_1,value_1 in outer_value.items():
      print(f"Inner key is : {key_1} and Inner value is : {value_1}")

{'Student_1': {'Name': 'Amit', 'Marks': 84, 'Grade': 'A'}, 'Student_2': {'Name': 'Krishan', 'Marks': 78, 'Grade': 'B'}}
Outer key is : Student_1 and Outer value is : {'Name': 'Amit', 'Marks': 84, 'Grade': 'A'}
Inner key is : Name and Inner value is : Amit
Inner key is : Marks and Inner value is : 84
Inner key is : Grade and Inner value is : A
Outer key is : Student_2 and Outer value is : {'Name': 'Krishan', 'Marks': 78, 'Grade': 'B'}
Inner key is : Name and Inner value is : Krishan
Inner key is : Marks and Inner value is : 78
Inner key is : Grade and Inner value is : B
Outer key is : Student_1 and Outer value is : {'Name': 'Amit', 'Marks': 84, 'Grade': 'A'}
Inner key is : Name and Inner value is : Amit
Inner key is : Marks and Inner value is : 84
Inner key is : Grade and Inner value is : A
Outer key is : Student_2 and Outer value is : {'Name': 'Krishan', 'Marks': 78, 'Grade': 'B'}
Inner key is : Name and Inner value is : Krishan
Inner key is : Marks and Inner value is : 78
Inner key is : Grade and Inner value is : B

**DICTIONARY COMPREHENSION - Dictionary comprehension is a short way to create a dictionary in one line using a loop.**

In [ ]:
comprehensive_dictionary  = {x:x**2 for x in range(11)}
print(comprehensive_dictionary)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
even_dictionary = {x:x**2 for x in range(1,11) if x %2==0}
print(even_dictionary)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

**MERGED DICTIONARY - A merged dictionary means combining two or more dictionaries into one.If keys repeat, the later dictionary overwrites the earlier one.**

In [ ]:
dict_1 = {"a":1,"b":2,"c":3,"d":4}
dict_2 = {"a":1,"b":5,"c":4,"d":9}
merged_dictionary = {**dict_1,**dict_2} #Used to merge two dictionaries.The unique keys get added and the same keys get the value of latest dictionary overwritten on the other.
print(merged_dictionary)

{'a': 1, 'b': 5, 'c': 4, 'd': 9}

**SETS - A set in Python is a data structure that stores unique values only (no duplicates) and is unordered.Set is mutable in nature.**

In [ ]:
set_value = {0,1,2,3,4,5,6,7,8,9}
print(set_value)
print(type(set_value))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

**BUILT-IN FUNCTIONS OF SETS :**

In [ ]:
set_value = {0,1,2,3,4,5,6,7,8,9}
print(set_value)

set_value.add(10) #Used to add a value at the end of set.If we are trying,to add a duplicate value,than there will be no change in the set as set contains unique values and no duplicate values.
print(set_value)

set_empty = set() #Used to create an empty set.
print(set_empty)
print(type(set_empty))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()
<class 'set'>

**ITERATION in SETS :**

In [ ]:
fruits = {"apple","banana","litchi","pineapple"}
fruit_vegetables = ["apple","capsicum","tomato"]
for fruit in fruit_vegetables:
  fruits.add(fruit)

print(fruits)

{'pineapple', 'banana', 'tomato', 'litchi', 'capsicum', 'apple'}

**CONDITIONAL & LOOPING STATEMENTS :**

**CONDITIONAL STATEMENTS - Conditional statements are used to make decisions in a program using if, elif, and else.**

**LOOPING STATEMENTS - Looping statements are used to repeat a block of code multiple times, mainly using for and while loops.**

In [ ]:
#CONDITIONAL STATEMENTS
a = input("What's your name?")
b = int(input("What is your age?"))
if b >=  18:
  print(f"{a}, you are eligible to drive a car")

else:
    print(f"{a},youare not eligible to drive a car?")

What's your name?Krishan
What is your age?21
Krishan, you are eligible to drive a car

In [ ]:
a = input("What's your name?")
a1 = int(input(f"{a},What's your age?"))
b = input("What's your name?")
b1 = int(input(f"{b},What's your age?"))
c = input("What's your name?")
c1 = int(input(f"{c}What's your age?"))
if a1>b1 and a1>c1:
  print(f"{a} is the eldest among all the three.")
elif a1<b1 and b1>c1:
  print(f"{b} is the eldest among all the three.")
else:
  print(f"{c} is the eldest among all the three.")

What's your name?Krishan
Krishan,What's your age?23
What's your name?Kartik
Kartik,What's your age?21
What's your name?Rakshit
RakshitWhat's your age?12
Krishan is the eldest among all the three.

**NESTED CONDITIONAL STATEMENT - A **nested conditional statement** is an `if-else` inside another `if-else` to check multiple conditions.**

In [ ]:
a = input("What's your name?")
a1 = int(input(f"{a},What's your age?"))
a2 = int(input(f"{a},What's your height?[Enter value in centimeteres]"))
b = input("What's your name?")
b1 = int(input(f"{b},What's your age?"))
b2 = int(input(f"{b},What's your height?[Enter value in centimeteres]"))
c = input("What's your name?")
c1 = int(input(f"{c}What's your age?"))
c2 = int(input(f"{c},What's your height?[Enter value in centimeteres]"))
if a1>b1 and a1>c1:
  print(f"{a} is the eldest among all the three.")
  if a2 > b2 and a2 > c2 :
    print(f"{a} is the tallest among all three.")
  elif a2 > b2 and a2 < c2 :
    print(f"{a} is taller than {b} but smaller than {c}")
  elif a2 < b2 and a2 >c2 :
    print(f"{a} is taller than {c} but smaller than {b}")
  else:
    print(f"{a} is the oldest among all three.")
elif a1<b1 and b1>c1:
  print(f"{b} is the eldest among all the three.")
  if b2 > a2 and b2 > c2 :
    print(f"{b} is the tallest among all three.")
  elif a2 > b2 and b2 >c2 :
    print(f"{b} is taller than {c} but smaller than {a}")
  elif a2 < b2 and b2 > c2:
    print(f"{b} is taller than {a} but smaller than {c}")
  else:
    print(f"{b} is the oldest among all three.")
else:
  print(f"{c} is the eldest among all the three.")
  if c2 > a2 and b2 < c2 :
    print(f"{c} is the tallest among all three.")
  elif c2 > b2 and a2 >c2 :
    print(f"{c} is taller than {b} but smaller than {a}")
  elif a2 < c2 and b2 < c2:
    print(f"{c} is taller than {a} but smaller than {b}")
  else:
    print(f"{c} is the oldest among all three.")

What's your name?Krishan
Krishan,What's your age?21
Krishan,What's your height?[Enter value in centimeteres]172
What's your name?Kartik
Kartik,What's your age?20
Kartik,What's your height?[Enter value in centimeteres]122
What's your name?Rakshit
RakshitWhat's your age?18
Rakshit,What's your height?[Enter value in centimeteres]154
Krishan is the eldest among all the three.
Krishan is the tallest among all three.

In [ ]:
#BETTER CODE FOR UPPER PROBLEM.
# Person A
a = input("What's your name? ")
a1 = int(input(f"{a}, what's your age? "))
a2 = int(input(f"{a}, what's your height? (in cm): "))

# Person B
b = input("What's your name? ")
b1 = int(input(f"{b}, what's your age? "))
b2 = int(input(f"{b}, what's your height? (in cm): "))

# Person C
c = input("What's your name? ")
c1 = int(input(f"{c}, what's your age? "))
c2 = int(input(f"{c}, what's your height? (in cm): "))

# Store all data in a list
people = [
    (a, a1, a2),
    (b, b1, b2),
    (c, c1, c2)
]

# -------------------------
# Find Eldest
# -------------------------
max_age = max(a1, b1, c1)
elders = [name for name, age, height in people if age == max_age]

if len(elders) == 1:
    print(f"\n{elders[0]} is the eldest among all three.")
else:
    print(f"\nEldest people are: {', '.join(elders)} (same age)")

# -------------------------
# Find Tallest
# -------------------------
max_height = max(a2, b2, c2)
tallest = [name for name, age, height in people if height == max_height]

if len(tallest) == 1:
    print(f"{tallest[0]} is the tallest among all three.")
else:
    print(f"Tallest people are: {', '.join(tallest)} (same height)")



# LINE BY LINE EXPLANATION (TEXT FORMAT)

# a = input("What's your name? ")

# Takes the first person’s name from the user.

# Stores it in variable a.

# a1 = int(input(f"{a}, what's your age? "))

# Asks the age of person a.

# input() gives a string, so int() converts it into an integer.

# Stores the age in a1.

# a2 = int(input(f"{a}, what's your height? (in cm): "))

# Asks the height of person a in centimeters.

# Converts it into integer.

# Stores the height in a2.

# b = input("What's your name? ")

# Takes the second person’s name.

# Stores it in variable b.

# b1 = int(input(f"{b}, what's your age? "))

# Asks the age of person b.

# Converts it into integer.

# Stores the age in b1.

# b2 = int(input(f"{b}, what's your height? (in cm): "))

# Asks the height of person b.

# Converts it into integer.

# Stores the height in b2.

# c = input("What's your name? ")

# Takes the third person’s name.

# Stores it in variable c.

# c1 = int(input(f"{c}, what's your age? "))

# Asks the age of person c.

# Converts it into integer.

# Stores the age in c1.

# c2 = int(input(f"{c}, what's your height? (in cm): "))

# Asks the height of person c.

# Converts it into integer.

# Stores the height in c2.

# people = [(a, a1, a2), (b, b1, b2), (c, c1, c2)]

# Creates a list named people.

# Each element is a tuple in the form (name, age, height).

# This makes it easier to process all 3 people together.

# max_age = max(a1, b1, c1)

# Finds the maximum (largest) age among the 3 people.

# Stores it in max_age.

# elders = [name for name, age, height in people if age == max_age]

# Goes through each tuple in people.

# Checks if the age is equal to max_age.

# If yes, stores that person’s name in the elders list.

# This also helps handle ties (same age).

# if len(elders) == 1:

# Checks if only one person is in the elders list.

# Means only one eldest exists.

# print(f"\n{elders[0]} is the eldest among all three.")

# elders[0] means the first name in elders list.

# Prints that person as the eldest.

# \n gives a new line before printing.

# else:

# Runs if more than one person is in elders list.

# Means there is a tie in age.

# print(f"\nEldest people are: {', '.join(elders)} (same age)")

# Joins all names in elders list into a single string separated by commas.

# Prints all eldest people.

# max_height = max(a2, b2, c2)

# Finds the maximum height among the 3 people.

# Stores it in max_height.

# tallest = [name for name, age, height in people if height == max_height]

# Goes through each tuple in people.

# Checks if height equals max_height.

# If yes, stores that person’s name in tallest list.

# This also handles ties in height.

# if len(tallest) == 1:

# Checks if only one person is in tallest list.

# Means only one tallest exists.

# print(f"{tallest[0]} is the tallest among all three.")

# Prints that person as the tallest.

# else:

# Runs if more than one person is in tallest list.

# Means there is a tie in height.

# print(f"Tallest people are: {', '.join(tallest)} (same height)")

# Joins all names in tallest list and prints them.

# Shows that multiple people have the same tallest height.

**LOOPING STATEMENTS - Looping statements are used to **repeat a block of code multiple times**, mainly using `for` and `while` loops.**

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

**RANGE() - The range() function is used to generate a sequence of numbers, commonly used in for loops.**

**range(1,51,2) - This means that range is gonna work from 1 to 50 and the 2 means that it is gonna take second value (meaning skip 1 value) or taking only the alter values.**

In [ ]:
for i in range(1,21,5):
  print(i)

for j in range(21,1,-1):
  print(j)

1
6
11
16
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [ ]:
name = "Amit Kumar Singh"
for i in name:
  print(i)

#In this particular case , i will iterate throughout the string and index it's each place.
#It will return the value present at each iteration.

A
m
i
t

K
u
m
a
r

S
i
n
g
h

**WHILE LOOP - A while loop is used to repeat a block of code as long as a condition is True.**

In [ ]:
i = 0
while i<20:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
i = 0
while i<=50:
  if i%2 == 0:
    print(i)
  else:
    pass
  i +=1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

**LOOP CONTROL STATEMENTS - Loop control statements are used to change the normal flow of a loop.**

**Main loop control statements in Python:**

* break → stops the loop completely

* continue → skips the current iteration and moves to the next

* pass → does nothing (placeholder)

In [ ]:
#break → stops the loop completely
for i in range(21):
  if i == 15:
    break
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
#continue → skips the current iteration and moves to the next
for i in range(20):
  if i == 17:
    continue
  else:
    print(i)

#As we kept , i == 17 and continue , it will skip the value 17 and continue from the next value(i.e. after 17 [18])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
18
19

In [ ]:
#pass → does nothing (placeholder)
for i in range(20):
  if i == 17:
    pass
  else:
    print(i)
#As we kept , i == 17 and pass, it will pass (i.e.it will do nothing on that particular condition.) and continue the execution of the rest of the cases.

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
18
19

In [ ]:
num_1 = int(input("What is your number?"))
num_2 = int(input("What is your number?"))
if num_2 == 0 :
  pass
else:
  print("Answer is :", num_1/num_2)

What is your number?5
What is your number?0

**NESTED LOOPS - A nested loop is a loop inside another loop.**

In [ ]:
for i in range(5):
  for j in range(4):
    print(f"The value of i is : {i} and value of j is : {j}")

The value of i is : 0 and value of j is : 0
The value of i is : 0 and value of j is : 1
The value of i is : 0 and value of j is : 2
The value of i is : 0 and value of j is : 3
The value of i is : 1 and value of j is : 0
The value of i is : 1 and value of j is : 1
The value of i is : 1 and value of j is : 2
The value of i is : 1 and value of j is : 3
The value of i is : 2 and value of j is : 0
The value of i is : 2 and value of j is : 1
The value of i is : 2 and value of j is : 2
The value of i is : 2 and value of j is : 3
The value of i is : 3 and value of j is : 0
The value of i is : 3 and value of j is : 1
The value of i is : 3 and value of j is : 2
The value of i is : 3 and value of j is : 3
The value of i is : 4 and value of j is : 0
The value of i is : 4 and value of j is : 1
The value of i is : 4 and value of j is : 2
The value of i is : 4 and value of j is : 3

In [ ]:
n = int(input("Tell the number upto which you want the sum."))
sum = 0
for i in range(1,n+1):
  sum += i
print(sum)

Tell the number upto which you want the sum.8
36

In [ ]:
for num in range(2, 101):
    for j in range(2, num):
        if num % j == 0:
            break
    else:
        print(num)



# Code:

# for num in range(2, 101):
# for j in range(2, num):
# if num % j == 0:
# break
# else:
# print(num)

# Explanation:

# Line 1:
# for num in range(2, 101):
# This loop starts from 2 and goes up to 100.
# We check each number one by one to see if it is prime.

# Line 2:
# for j in range(2, num):
# For each number (num), we check all numbers from 2 up to num - 1.
# These are possible divisors of num.

# Line 3:
# if num % j == 0:
# We check if num is divisible by j.
# If the remainder is 0, it means num is not prime.

# Line 4:
# break
# If we find even one divisor, we stop checking further and exit the inner loop.

# Line 5:
# else:
# This else belongs to the inner for loop (not the if).
# It runs only if the loop did NOT break.

# Line 6:
# print(num)
# If no divisor was found (loop did not break), the number is prime.
# So we print the number.

# Important concept:
# The for-else block runs the else part only when the loop completes normally without hitting break.

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

**FUNCTIONS - A function is a block of reusable code that performs a specific task.**

**FUNCTIONS help in organizing code ,reusing code and improving readability.**

In [2]:
def function(): #Used to create a function
  print("We have successfully created a function") #Body part of function,which will run when the function is called.
function() #Used to call a function , as a function will get executed only when it is called.

We have successfully created a function

**FUNCTIONS can also be created by adding an input parameter in them.**

In [4]:
def function(name = "Krishan"): #Used to create a function with an input parameter.
  print(name) #Function Body

function() #Used to call the function
print("Hello")
function("Akshat") #Used to call the function but by changing the input value.

Krishan
Hello
Akshat

**RETURN - return is used to send a value back from the function to where it was called.**

**Always use return when you need to reuse the result later.**

**RETURN is mandatory when we want the function value(output,calculation etc.) to be used later , we use return.**

**If the function's action is only to print or perform an action , it is our choice whether to use return or not.**

In [ ]:
# Function to calculate the square of a number
def square(number):

    # 'return' sends the calculated value back to where the function was called
    # It does NOT print the value automatically
    return number * number


# Calling the function and storing the returned value in a variable
result = square(5)

# We print the result separately
print(result)


# Why we use return:
# 1. To send a value back from the function
# 2. To store the result in a variable
# 3. To reuse the result in other calculations
# 4. To make the function useful in larger programs

# Example of reusing returned value
double_result = square(5) * 2
print(double_result)

**QUESTION :**

In [1]:
#You are an interviewer , who is welcoming the candidate everytime with same greeting so you plan
#to use functions to avoid similar greetings again and again.

def greetings(candidate_name,date,time):
  print(f"Hello {candidate_name},You are selected for the interview round.")
  print(f"Your interview will bw held on {date}")
  print(f"The timing of the interview will be{time}.You have to reach the company by given time for the interview process.")

greetings("KRISHAN","24 March , 2020" , "5:00 PM")

Hello KRISHAN,You are selected for the interview round.
Your interview will bw held on 24 March , 2020
The timing of the interview will be5:00 PM.You have to reach the company by given time for the interview process.

**isinstance() is used to check whether a variable belongs to a specific data type or not.**

**isinstance(object, type) #Object whose data type is to be checked , type is the data type for which we are checking the object.**


**If object data type = type , output is true else false.It is ajorly used to check whether the user is entering input in which data format that whether it is suitable for our output or not.**

**QUESTION :**

In [9]:
#Create a function which is going to take input number from the user side and will figure out
#that whether if the number is even or odd.
def even_or_odd(number):
  # Check for string input first to prevent TypeError from %2
  if isinstance(number, str):
    return "Invalid Input Type"

  if number % 2 == 0:
    return f"{number} , is an even number!"
  else: # If not even and not a string, it must be an odd number (assuming numeric input)
    return f"{number} , is an odd number!"

# Now the calls will print the returned string properly
print(even_or_odd(5))
print(even_or_odd(10))
print(even_or_odd(80))
print(even_or_odd("hello")) # Testing the string input

5 , is an odd number!
10 , is an even number!
80 , is an even number!
Invalid Input Type

**PARAMETERS - It is the input that we used to have when we define the function.**

**ARGUMENTS - It is the input that we used to pass when we call the funcion.**

**RECURSIVE FUNCTION - A recursive function is a function that calls itself to solve a smaller part of the same problem.**

In [5]:
def factorial_number(number):
  if isinstance(number,str):
    return "INVALID DATA TYPE"
  # Added a check for non-integer or negative numbers as factorial is defined for non-negative integers
  if not isinstance(number, int) or number < 0:
      return "INVALID INPUT: Please provide a non-negative integer."
  if number == 0 or number == 1:
    return (f"Factorial of the given {number} is 1.")

  factorial = 1 # Factorial product starts at 1
  for i in range(1, number + 1):
    factorial *= i # Multiply factorial by each number in the range
  return (f"Factorial of your given number is : {factorial}") # Return the final result

# Calling the function and printing the result
print(factorial_number(5))
print(factorial_number(0))
print(factorial_number(1))
print(factorial_number("abc")) # Test with invalid data type
print(factorial_number(-5)) # Test with negative number
print(factorial_number(3.5)) # Test with float

Factorial of your given number is : 120
Factorial of the given 0 is 1.
Factorial of the given 1 is 1.
INVALID DATA TYPE
INVALID INPUT: Please provide a non-negative integer.
INVALID INPUT: Please provide a non-negative integer.

In [10]:
#FINDING FACTORIAL USING RECURSIVE FUNCTION.
def factorial_recursive(number):
  if number == 0 or number == 1:
    return 1
  else:
    return number*factorial_recursive(number-1)
input_number = int(input("What's your number?"))
factorial_recursive(input_number)
#Recursive multiplication must always return a number, not a string.

What's your number?6

720

**FUNCTIONS can also be present with multiple parameters.**

In [20]:
def add(num1,num2):
  return (f"The addition of the {num1} and {num2} is : {num1+num2}")
print(add(2,5))

The addition of the 2 and 5 is : 7

**POSITIONAL ARGUMENTS - Positional arguments are being used so that we can pass multiple values inside our function as an arrgument irrespective of the number of values we have mentioned as the parameter inside our function.**

**POSITIONAL ARGUMENTS - They are passed like simple text and must always be passed before keyword arguments.**

 **Adding * before a parameter collects multiple positional arguments into a function.**

In [27]:
def add(*num):
  sum = 0
  for i in num:
    sum += i
  print(f"The addition of the number is {sum}")

add(5,4,6,7)
# Code:

# def add(*num):
# sum = 0
# for i in num:
# sum += i
# print(f"The addition of the number is {sum}")

# add(5,4,6,7)

# Explanation:

# Line 1:
# def add(*num):
# This defines a function named add.
# The *num means it can accept multiple arguments.
# All the values passed will be stored inside a tuple named num.

# Line 2:
# sum = 0
# A variable named sum is created and initialized to 0.
# It will store the total addition.

# Line 3:
# for i in num:
# This loop runs through each value stored in the tuple num.
# Each value is assigned to i one by one.

# Line 4:
# sum += i
# This adds the current value of i to sum.
# It is the same as writing: sum = sum + i.

# Line 5:
# print(f"The addition of the number is {sum}")
# After the loop finishes, the total sum is printed using an f-string.

# Last Line:
# add(5,4,6,7)
# This calls the function and passes four numbers.
# Inside the function, num becomes the tuple: (5, 4, 6, 7).
# The loop adds all numbers and prints:

# The addition of the number is 22

# Important concept:
# * before a parameter collects multiple arguments into a tuple.

The addition of the number is 22

**KEYWORD ARGUMENTS - Keyword arguments take the input as the keyword values and irrespective of any numbers of keyword values you are going to pass it won't matter.**

**Adding ** before a parameter collects multiple keyword arguments into a function.**

**KEYWORD ARGUMENTS - Keyword arguments are the one which are passed in key , value format.Example : name = "Krishan" , Height = 184 , Age = 21**

In [30]:
def data(**user_data):
  for key,value in user_data.items():
    print(f"{key} : {value}")
data(name="KRISHAN",age = 18,height = 184)

name : KRISHAN
age : 18
height : 184

**When we want to pass keyword value pairs as your input along with positinal arguments as well.**

In [35]:
def variable(*positional , **keyword):
  for i in positional:
    print(f"Positional values are : {i}")

  for key,value in keyword.items():
    print(f"Key is:{key} and value is : {value}")


variable("Krishan","Bye",name = "Hello",Age = 23)

Positional values are : Krishan
Positional values are : Bye
Key is:name and value is : Hello
Key is:Age and value is : 23

**DEFAULT PARAMETER - A default parameter is a function parameter that already has a value assigned, so you don’t have to pass it every time.**

In [38]:
def default_name(name="KRISHAN"):
  print(name)
default_name() #If no argument is given → default value is used.
default_name("Akshat") #If argument is given → it overrides the default value.

KRISHAN
Akshat

**QUESTION -**

In [25]:
#To create a function that converts temprature from celsius to farenhiet.
def celsius_to_farenhiet(temp = 0):
    f = (9*temp + 160)/5
    print((f"Your temprature in farenhiet is : {f}"))
    return f

temp_in_celsius = float(input("Enter your temprature in celsius : "))
print(celsius_to_farenhiet(temp = temp_in_celsius))

Enter your temprature in celsius : 23.4
Your temprature in farenhiet is : 74.12
74.12

**QUESTION -**

* islower() - It checks whether if the current character is a lowercase character or contains a lowercase character.

* isupper() - It checks whether if the current character is a uppercase character or contains a uppercase character.

* isdigit() - It checks whether if the current character is a digit or contains a digit.

* string.punctuation() - It is used to assign  a variable all the special characters.

In [29]:
import string # Import string module for punctuation

#Define a function that would behave as a password stregth checker.
#STRONG PASSWORD CHECKER:
#LENGTH IS GREATER THAN 8 CHARACTERS
# PASSWORD MUST CONTAIN A LOWERCASE CHARACTER
# PASSWORD MUST CONTAIN A UPPERCASE CHARACTER
# PASSWORD MUST CONTAIN ATLEAST A DIGIT
# PASSWORD MUST CONTAIN ATLEAST A SPECIAL CHARACTER.

print("Define a function that would behave as a password strength checker.\n")
print("STRONG PASSWORD CHECKER:")
print("LENGTH IS GREATER THAN 8 CHARACTERS")
print("PASSWORD MUST CONTAIN A LOWERCASE CHARACTER")
print("PASSWORD MUST CONTAIN A UPPERCASE CHARACTER")
print("PASSWORD MUST CONTAIN ATLEAST A DIGIT")
print("PASSWORD MUST CONTAIN ATLEAST A SPECIAL CHARACTER.")

def password_strength(password):
  # Initialize all conditions to False
  condition_1 = False # Length
  condition_2 = False # Lowercase
  condition_3 = False # Uppercase
  condition_4 = False # Special character
  condition_5 = False # Digit

  # 1. Length is greater than 8 characters
  if len(password) > 8:
    condition_1 = True
    print("Password has more than 8 characters!")
  else:
    print("Password has less than 8 characters!")

  # 2. Password must contain a lowercase character
  if any(char.islower() for char in password): # Corrected: password not password()
    condition_2 = True
    print("Password contains a lowercase character.")
  else:
    print("Password does not contain a lowercase character.")

  # 3. Password must contain an uppercase character
  if any(char.isupper() for char in password): # Corrected: password not password()
    condition_3 = True
    print("Password contains an Uppercase character.")
  else:
    print("Password does not contain an Uppercase character.")

  # 4. Password must contain at least a digit
  if any(char.isdigit() for char in password): # Corrected condition_5 assignment to follow problem description order
    condition_5 = True
    print("Password contains a digit.")
  else:
    print("Password does not contain a digit.")

  # 5. Password must contain at least a special character
  special_chars = string.punctuation
  if any(char in special_chars for char in password): # Corrected logic for special character check
    condition_4 = True
    print("Password contains a Special character.")
  else:
    print("Password does not contain a Special character.")

  # Final check for strong password
  if (condition_1 and condition_2 and condition_3 and condition_4 and condition_5) == True:
    print("Your Password is a strong Password!")
  else:
    print("Your Password is a weak Password!")

password_1 = input("What's your password ? ")
password_strength(password_1)

Define a function that would behave as a password strength checker.

STRONG PASSWORD CHECKER:
LENGTH IS GREATER THAN 8 CHARACTERS
PASSWORD MUST CONTAIN A LOWERCASE CHARACTER
PASSWORD MUST CONTAIN A UPPERCASE CHARACTER
PASSWORD MUST CONTAIN ATLEAST A DIGIT
PASSWORD MUST CONTAIN ATLEAST A SPECIAL CHARACTER.
What's your password ? KRishan98089
Password has more than 8 characters!
Password contains a lowercase character.
Password contains an Uppercase character.
Password contains a digit.
Password does not contain a Special character.
Your Password is a weak Password!

**QUESTION -**

In [37]:
#Check whether if the current string is a palindrome or not.
def palindrome(word):
  word = (palindrome_word[::-1])
  if word == palindrome_word:
    print(f"The given word is a palindrome word.")
  else:
    print(f"The given word is not a palindrome word.")

palindrome_word = (input("What is your palindrome word : ?")).lower().replace(" ","")
palindrome(palindrome_word)

What is your palindrome word : ?Madam
The given word is a palindrome word.

**QUESTION -**

In [40]:
#Create the total costs of items in a shopping cart
cart = [{'item1':'Apple','Cost':5,'Quantity':20},
        {'item2':"Orange","Cost":3,"Quantity":2}]

def cart_total(cart_items):
  Total_cost = 0
  for item in cart:
    Total_cost += item["Cost"] * item["Quantity"]
  print(f"The total cost for the cart item is : {Total_cost}")

cart_total(cart)

The total cost for the cart item is : 106

**LAMBDA FUNCTIONS - Lambda functions are the one liner functions defined by the lambda keyword.**